:root {
    --cor-icones-padrao: white;
    --fonte-titulos: 'Teko', sans-serif;
    --fonte-primaria: 'Nanum Gothic', sans-serif; 
}

body {
    background-image: linear-gradient(to top, #000000, #0b0002, #130004, #1a0104, #1f0103, #280507, #310709, #3b070b, #4e0710, #610612, #750512, #890511);
    color: var(--cor-icones-padrao);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    
}

/* Cabeçalho */

.cabecalho__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-size: 1.5rem;
    color: var(--cor-icones-padrao);
    padding: 0.5em 0.5em;
}

.cabecalho__lista {
    display: flex;
}

.cabecalho__item {
    padding-left: .3em;
}

/* Banner */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12rem;
    background-image: url(../Image/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: var(--cor-icones-padrao);
    text-align: center;
}  

.banner__titulo {
    font-family: var(--fonte-titulos);
    font-size: 35px;
    font-weight: 500;
    padding: 1rem 1rem 1rem 1rem;
}

.banner__texto {
    font-weight: 700;
    padding: .5rem;
}


/* Configurações Gerais das seções*/

.nome__secao {
    font-family: var(--fonte-titulos);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: var(--cor-icones-padrao);
    margin: 1em;
}

strong {
    font-weight: 800;
}

/* Sobre */

.sobre__descricao {
    text-align: center;
}

/* Equipe */

.card__impar{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: 1px solid rgb(88, 58, 58);
    border-radius: 10px;
    margin: 1rem 1rem;
}
.card__perfil {
    border: 3px solid black;
    border-radius: 100%;
    width: 7rem;
    height:7rem;
    margin: .5rem .5rem;
}

.card__nome{
    text-align: left;
    padding: .5rem;
    font-size: 16px;
    font-weight: 400;
}

.card__descricao {
    text-align: justify;
    padding: .5rem;
    font-size: 14px;
    font-weight: 400;
}

.card__link {
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: .5rem;
}
.card__link i {
    font-size: 16px;
    padding-right: .5rem;
}

.card__impar .card__link {
    justify-items: ;
}

.card__par{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: 1px solid rgb(88, 58, 58);
    border-radius: 10px;
    margin: 1rem 1rem;
}

.card__par .card__link {
    justify-items: start;
}

/* Recomendaçõe */

.recomendacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

.recomendacoes__video {
    padding: 1rem 0 1rem 0 ;
}

/* Rodapé */

.rodape {
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    background-color: #1f0103;
    padding: 1rem;

}